{
  "presets": [
    [
      "@babel/preset-env",
      { "modules": false, "targets": { "node": "current" } }
    ],
    ["@babel/preset-react", { "targets": { "node": "current" } }],
    "airbnb"
  ],
  "plugins": [
    "add-module-exports",
    "transform-class-properties",
    "@babel/plugin-transform-classes",
    ["transform-es2015-classes", { "loose": true }]
  ]
}
